<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="application.properties">
    </properties>

    <typeAliases>
        <typeAlias alias="Example" type="practice.ssm.warehouse.pojo.Example"/>
        <typeAlias alias="GoodsType" type="practice.ssm.warehouse.pojo.GoodsType"/>
        <typeAlias alias="Detail" type="practice.ssm.warehouse.pojo.Detail"/>
    </typeAliases>

<!--    Mybatis-Spring 配置 会忽略 environments xml配置-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"></transactionManager>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc.driver}"/>-->
<!--                <property name="url"  value="${jdbc.url}"/>-->
<!--                <property name="username" value="${jdbc.username"/>-->
<!--                <property name="password" value="${jdbc.password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <mappers>
        <mapper resource="/mybatis/ExampleMapper.xml"/>
        <mapper resource="/mybatis/GoodsTypeMapper.xml"/>
<!--        <mapper resource="/mybatis/WarehouseMapper.xml"/>-->
    </mappers>
</configuration>